#project-part{
    height: 100vh;
}

.project-part-title{
    font-weight: 400;
    color: rgb(223, 223, 223);
    letter-spacing: 0.15em;
    height: 5vh;
}

.project-box{
    height: 9vh;
    margin-top: 2vh;
    border: 1px solid #7BD3E3;
    border-radius: 0.5em;
    position: relative;
    z-index: 0;
}

@keyframes lr-bar {
    0% { transform-origin: center left 0px; transform: scaleX(0); }
    36% { transform: scaleX(1); transform-origin: center left 0px; }
    54% { transform: scaleX(1); transform-origin: center right 0px; }
    90% { transform: scaleX(0);  transform-origin: center right 0px; }
    100% { transform: scaleX(0);  transform-origin: center right 0px; }
}

@keyframes lr-content {
    0% { opacity: 1; }
    100% { opacity: 1; }
}

.block {
    padding: .1em .4em;
}

.reveal {
    position: relative;
}

.reveal-inner {
    animation: lr-content 360ms;
    animation-delay: 600ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.reveal::before {
    content: '';
    background: rgba(25,178,210,1);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    animation: lr-bar 1500ms;
    animation-fill-mode: both;
    animation-delay: 100ms;
    animation-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750);
}

.reveal-inner2 {
    animation: lr-content 360ms;
    animation-delay: 700ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.reveal2::before {
    content: '';
    background: rgba(25,178,210,1);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    animation: lr-bar 1500ms;
    animation-fill-mode: both;
    animation-delay: 200ms;
    animation-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750);
}

.reveal-inner3 {
    animation: lr-content 360ms;
    animation-delay: 800ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.reveal3::before {
    content: '';
    background: rgba(25,178,210,1);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    animation: lr-bar 1500ms;
    animation-fill-mode: both;
    animation-delay: 300ms;
    animation-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750);
}

.reveal-inner4 {
    animation: lr-content 360ms;
    animation-delay: 900ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.reveal4::before {
    content: '';
    background: rgba(25,178,210,1);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    animation: lr-bar 1500ms;
    animation-fill-mode: both;
    animation-delay: 400ms;
    animation-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750);
}

.reveal-inner5 {
    animation: lr-content 360ms;
    animation-delay: 1200ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.reveal5::before {
    content: '';
    background: rgba(25,178,210,1);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    animation: lr-bar 1500ms;
    animation-fill-mode: both;
    animation-delay: 500ms;
    animation-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750);
}

.reveal-inner6 {
    animation: lr-content 360ms;
    animation-delay: 1200ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.reveal6::before {
    content: '';
    background: rgba(25,178,210,1);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    animation: lr-bar 1500ms;
    animation-fill-mode: both;
    animation-delay: 600ms;
    animation-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750);
}

.reveal-inner7 {
    animation: lr-content 360ms;
    animation-delay: 1200ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.reveal7::before {
    content: '';
    background: rgba(25,178,210,1);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    animation: lr-bar 1500ms;
    animation-fill-mode: both;
    animation-delay: 700ms;
    animation-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750);
}

.project-content{
    color: white;
    padding-left: 0.5vh;
    padding-top: 1vh;
    font-size: 0.8em;
}

.more-info{
    color: #7BD3E3;
    position: absolute;
    bottom: 1px;
    right: 1vh;
    text-decoration: none;
}

.more-info:hover{
    color: white;
}

@media (min-width: 0rem) {
    .project-title{
        color: white;
        padding-left: 1vh;
        padding-top: 1vh;
        font-size: 1em;
    }
}

@media (min-width: 50rem) {
    .project-title{
        color: white;
        padding-left: 1vh;
        padding-top: 1vh;
        font-size: 1em;
        margin-top: 2vh;
    }
}
  
