.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0;
	background: none;
	z-index: 50;
    justify-content: center;
}

@media (min-width: 0rem) {
    .header-margin{
        height: 0.5em;
    }
    .nav-item {
        display:none;
        height: 3.5em;
        line-height: 3.5em;
        padding: 0 1.5em;
        min-width: 50px;
        text-align: center;
        text-decoration: none;
        color: rgb(223, 223, 223);
    }    
}

@media (min-width: 50rem) {
    .header-margin{
        height: 1.5em;
    }
    .nav-item {
        display: inline-block;
        height: 3.5em;
        line-height: 3.5em;
        padding: 0 1.5em;
        min-width: 50px;
        text-align: center;
        text-decoration: none;
        color: rgb(223, 223, 223);
    }
    .menu-icons{
        display: none;
    }
    
}

.center {
    text-align: center;
    vertical-align :middle;
}

.responsive-container {
    width: 96%;
    margin: auto;
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 22px;
	line-height: 56px;
	font-weight: 400;
    color: rgb(223, 223, 223);
    letter-spacing: 0.2em;
}

.header h1:hover {
    color: rgb(128, 128, 128);
}

.header nav {
	float: right;
	font-size: 100%;
}

.nav-button {
	display: inline-block;
	height: 3.5em;
	line-height: 3.5em;
    padding-left: 3em;
	min-width: 50px;
	text-align: center;
	text-decoration: none;
	color: rgb(223, 223, 223);
}

.nav-button:hover{
    color: rgb(128, 128, 128);
}

.nav-item:hover{
    color: rgb(128, 128, 128);
}

#menu-toggle{
    display: none;
}

.hamburger{
    margin-top: -0.5em;
    display: block;
    width: 4.8em;
    height: 4.8em;
    position: relative;
    cursor: pointer;
    border-radius: 2px;
}

.bun{
    width: 3em;
    height: 3em;
    position: absolute;
    top: .9em;
    left: .9em;
    transition: transform .18s
    cubic-bezier(0.04,0.04,
    0.12,0.96) .15s;
}

.bun-crust{
    display: block;
    width: 3em;
    height: 3px;
    background-color: rgb(223, 223, 223);
    border-radius: 1px;
    position: absolute;
    left: -0.57em;
    transition: transform .1596s
    cubic-bezier(0.52, 0.16,
    0.52,0.84) .2s;
}

.bun-crust-top{
    top: 2em;
    transform: translateY(-3px);
}

.bun-crust-bottom{
    bottom: 2em;
    transform: translateY(3px);
}

#menu-toggle:checked +
.hamburger .bun-top{
    transform: rotate(45deg);
}

#menu-toggle:checked +
.hamburger .bun-bottom{
    transform: rotate(-45deg);
}

#menu-toggle:checked +
.hamburger .bun-crust-top,
#menu-toggle:checked +
.hamburger .bun-crust-bottom{
    transform: none;
    transition: transform .2s
    cubic-bezier(0.04,0.04,0.12,0.96);
}




/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0%;
    width: 100vw;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
}

.icon {
    font-size: 36px;
    color: #818181;
    transition: 0.3s; /* Transition effects on hover (color) */
}