#welcome-part{
    height: 100vh;
    color: #7BD3E3;
    display: inline;
}

.title {
    margin-top: 20vh;
    height: 20vh;
} 

.floating-words{
    margin-top: 5vh;
    height: 42vh;
}

.welcome-presentation{
  margin-top: 20vh;
  height: 40vh;
}

.name {
    font-weight: bold;
    border-bottom: 3px solid #7BD3E3;
}

.picture {
    border: RGB(255, 172, 124) 5px dashed;
}

.word1{
    position: absolute;
    margin-left: 5vh;
}