#welcome-part{
    height: 100vh;
    color: #7BD3E3;
    display: inline;
}

.title {
    margin-top: 20vh;
    height: 20vh;
} 
.floating-words{
    margin-top: 5vh;
    height: 42vh;
}

.name {
    font-weight: bold;
    border-bottom: 3px solid #7BD3E3;
}

.picture {
    border: white 5px dashed;
}

.word1{
    position: absolute;
    margin-left: 5vh;
}