#welcome-part{
    height: 100vh;
    color: #7BD3E3;
}

.title {
    margin-top: 30vh;
    height: 20vh;
    margin-left: 10vw;
}

.name {
    font-weight: bold;
    border-bottom: 3px solid #7BD3E3;
}