@font-face {
    font-family: myFont;
    src: url("./assets/fonts//AltoneTrial-Regular.ttf");
}

body{
    font-family: myFont;
    margin : 0;
    padding: 0;
}

.margin-header{
    margin-top: 12vh;
}


.part-title{
    font-weight: 400;
    color: rgb(223, 223, 223);
    letter-spacing: 0.15em;
    height: 8vh;
}

.dark-grey{
    color : #839192;
}

.light-grey{
    color: #a5b2b3;
}

.light-red{
    color: RGB(255, 172, 124);
}